/* Variables CSS */
:root {
    --color-primary:  #2a9d8f;;
    --color-primary-hover: #0d9488;
    --color-primary-light: #f0fdfa;
    --color-secondary: #c4226b;
    --color-secondary-hover: #9d1b55;

    --text-normal:#374151;
    --text-light: #6b7280;
    --text-lighter: #9ca3af;

    --admin-sucess: #10b981;
    --admin-danger: #ef4444;
    --admin-warning: #f59e0b;
    --admin-info: #3b82f6;
    --admin-purple: #8b5cf6;
   
    --background-white: #ffffff;
    --background:#f9f9f9;
    --background-secondary: #f9fafb;
    --border:#e5e7eb;


    --admin-text: #374151;
    
    --text-lighter: #9ca3af;
    --admin-border: #e5e7eb;
    --admin-background: #f9fafb;
    --admin-white: #ffffff;
    
   
    --blogAdmin-color-primary: #14b8a6;
    --blogAdmin-color-primary-hover: #0d9488;
    --blogAdmin-color-text: #111827;
    --blogAdmin-color-text-secondary: #6b7280;
    --blogAdmin-color-border: #e5e7eb;
  
    --blogAdmin-color-active: #10b981;
    --blogAdmin-color-inactive: #6b7280;
    --blogAdmin-color-new: #3b82f6;
    --blogAdmin-color-active-bg: #dcfce7;
    --blogAdmin-color-inactive-bg: #f3f4f6;
    --blogAdmin-color-new-bg: #dbeafe;
    --blogAdmin-border-radius: 0.375rem;
    --blogAdmin-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --blogAdmin-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --blogAdmin-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #264653;
    --color-gray: #94a3b8;
    --color-light-blue: #a2e1e8;
    --color-brown: #9b6b70;
    --color-off-white: #f8fafc;
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);

    --color-primary-hover: #0d9488;
    --publicBlogDetail-color-text: #111827;
    --publicBlogDetail-color-text-secondary: #6b7280;
    --publicBlogDetail-color-border: #e5e7eb;
    --publicBlogDetail-color-background: #ffffff;
    --publicBlogDetail-color-background-secondary: #f9fafb;
    --publicBlogDetail-color-active: #10b981;
    --publicBlogDetail-color-inactive: #6b7280;
    --publicBlogDetail-color-new: #3b82f6;
    --publicBlogDetail-color-active-bg: #dcfce7;
    --publicBlogDetail-color-inactive-bg: #f3f4f6;
    --publicBlogDetail-color-new-bg: #dbeafe;
    --publicBlogDetail-border-radius: 0.375rem;
    --publicBlogDetail-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --publicBlogDetail-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --publicBlogDetail-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  