.tech_blog_app_wrapper {
    min-height: 100vh;
  }
  
  .tech-blog-main {
    display: flex;
    flex-wrap: wrap;
    
    margin: 30px auto;
    max-width: 1400px;
    padding: 0 20px;
  }
  
  .p-blog-right-side {
    flex: 1;
    min-width: 300px;
  }
  
  .p-blog-left-side {
    display: flex;
    flex-direction: column;
 
    gap: 40px;
    width: 100%;
    max-width: 400px;
    margin-right: 30px;
  }
  
  @media (max-width: 1024px) {
    .tech-blog-main {
      flex-direction: column;
    }
  
    .p-blog-left-side {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .tech-blog-main {
      margin: 20px auto;
    }
  }
  
  